:root {

  // radius
  --radius: 0.25em; // radius base size
  --radius-sm: calc(var(--radius) / 2);
  --radius-md: var(--radius);
  --radius-lg: calc(var(--radius) * 2);

  // box shadow
  --shadow-xs: 0 1px 2px rgba(0, 0, 0, .1); // lower depth;
  --shadow-sm: 0 1px 2px rgba(0, 0, 0, .085), 0 1px 8px rgba(0, 0, 0, .1); // low depth;
  --shadow-md: 0 1px 8px rgba(0, 0, 0, .085), 0 8px 24px rgba(0, 0, 0, .1); // medium depth
  --shadow-lg: 0 1px 8px rgba(0, 0, 0, .085), 0 16px 48px rgba(0, 0, 0, .085), 0 24px 60px rgba(0, 0, 0, .085); // high depth
  --shadow-xl: 0 1px 8px rgba(0, 0, 0, .085), 0 16px 64px rgba(0, 0, 0, .15), 0 24px 100px rgba(0, 0, 0, .15); // higher depth

  // animations
  --transition-base: all 0.2s ease-in-out;
  --transition-fade: opacity 0.15s linear;
  --transition-collapse: height 0.35s ease;

  // timing functions
  // credits: https://github.com/ai/easings.net
  --bounce: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  --ease-in-out: cubic-bezier(0.645, 0.045, 0.355, 1);
  --ease-in: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  --ease-out: cubic-bezier(0.215, 0.61, 0.355, 1);
  --cubic-in: cubic-bezier(0, 1.27, 0.46, 1.65);
  --cubic-out: cubic-bezier(0.215, 0.61, 0.355, 1);

  // time
  --duration-instant: 0.05s;
  --duration-quick: 0.1s;
  --duration-fast: 0.2s;
  --duration-slide: 0.25s;
  --duration: 0.35s;
  --duration-slow: 0.6s;
}

$ratios: (
  "2\\:1"   : (2:1),
  "2\\:3"   : (2:3),
  "4\\:3"   : (4:3),
  "16\\:9"  : (16:9)
) !default;
