// classes used to center content on x-axis and set content max width
.container {
    width: calc(100% - 2*var(--component-padding));
    margin-left: auto;
    margin-right: auto;
}

.container--xxxxs { max-width: var(--max-width-xxxxs); }
.container--xxxs  { max-width: var(--max-width-xxxs); }
.container--xxs   { max-width: var(--max-width-xxs); }
.container--xs    { max-width: var(--max-width-xs); }
.container--sm    { max-width: var(--max-width-sm); }
.container--md    { max-width: var(--max-width-md); }
.container--lg    { max-width: var(--max-width-lg); }
.container--xl    { max-width: var(--max-width-xl); }
.container--xxl   { max-width: var(--max-width-xxl); }
.container--xxxl  { max-width: var(--max-width-xxxl); }
.container--xxxxl { max-width: var(--max-width-xxxxl); }

// alt approach - max-width is updated at specific breakpoints
.container--adaptive-sm,
.container--adaptive-md,
.container--adaptive,
.container--adaptive-lg,
.container--adaptive-xl {
    max-width: var(--max-width-xs);
}

@include breakpoint(md) {
    .container--adaptive-sm {
        max-width: var(--max-width-sm);
    }
    
    .container--adaptive-md,
    .container--adaptive,
    .container--adaptive-lg,
    .container--adaptive-xl {
        max-width: var(--max-width-md);
    }
}

@include breakpoint(xl) {
    .container--adaptive,
    .container--adaptive-lg {
        max-width: var(--max-width-lg);
    }
    
    .container--adaptive-xl {
        max-width: var(--max-width-xl);
    }
}
